<header>
  <div class="container">
    <a
      routerLink="/"
      class="logo">
      FoodMe Up!
    </a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">
            <fa-icon [icon]="faUser"></fa-icon>
          </a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders" >Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
            Basket
            <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
          </a>
        </li>
        <li>
          <div
            class="hamburger"
            (click)="toggleMenu()">
            <a>
              <fa-icon class="burger-icon" [icon]="faBars"></fa-icon>
            </a>
            <app-hamburger-menu
              [cartQuantity]="cartQuantity"
              [isMenuOpen]="isMenuOpen"
              [user]="user"
              >
            </app-hamburger-menu>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
