
  header {
    position: relative;
    background: rgba(43, 123, 43, 0.903);
    padding: 0;
    margin: 0;
    border-bottom: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


  a {
    color: white;
    letter-spacing: 0.5px;
  }

  a:hover {
    background-color: #b55dab;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    
  }

  a:active {
    background-color: #8e3b81;
    color: white;
  }



  .container {
    display: flex;
    justify-content: space-between;

  }


  a.logo {
    font-weight: bold;
    padding: 1.5rem;
    margin: 0;
  }


  nav {
    margin: 0;

  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }

  ul a {
    padding: 1.5rem;
    display: inline-block;

  }

  a span {
    background: #e89f9f;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 100rem;
    font-size: 1rem;
  }

  .menu-container {
    position: relative;
    
  }

  .menu {
    position: absolute;
    border: 2px solid white;
    border-radius: 1rem;
    z-index: 1;
    background:  rgba(43, 123, 43, 0.903);
    display: none;

  }

  .menu-container:hover .menu {
    display: block;
  }

  .menu a {
    width: 100%;
    min-width: 10rem;
  }
  .hamburger a {
    font-size: 1.2rem;
    line-height: 0;
  }
  

  @media (max-width: 768px) {
    .login,
    .menu-container {
      display: none;
    }
  
    .hamburger {
      display: block;
    }
  
    nav ul {
      justify-content: flex-end;
    }
  }
 

