<div class="side-menu" [class.open]="isMenuOpen">
  <ul>
     <li *ngIf="user.token"> <!-- isAuth -->
      <a>{{user.name}}</a>
    </li>
    <li>
      <a routerLink="/cart-page">
        Basket
        <fa-icon [icon]="faShoppingCart"></fa-icon>
        <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
      </a>
    </li>
    <li>
      <a routerLink="/checkout">
        Order Items
        <fa-icon [icon]="faPenNib"></fa-icon>
      </a>
    </li>
    <li><a routerLink="/login">Login</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</div>
