.container {
  height: 80%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.details {
  width: 28rem;
  height: 28rem;
  background-color: blanchedalmond;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}