<div>
  <div class="stars">
    <ng-container *ngFor="let star of stars; let i = index">
      <fa-icon
        *ngIf="isFullStar(i)"
        [icon]="faStar"
        class="selected">
      </fa-icon>
      <fa-icon
        *ngIf="isHalfStar(i)"
        [icon]="faStarHalfAlt"
        class="selected half-star">
      </fa-icon>
      <fa-icon
        *ngIf="!isFullStar(i) && !isHalfStar(i)"
        [icon]="faStar"
        class="empty-star">
      </fa-icon>
    </ng-container>
  </div>
  <span>Rating {{ rating }}</span>
</div>